## Q1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both inclusive). The numbers obtained should be printed in a comma-seperated sequence on a single line.

In [1]:
# Method to find such number which are divisible by 7 but not by 5
def num_div_7_not_div_5(start, end):
    
    # Find the first numnber divisible by 7
    while (0 != (start%7)):
        start += 1
        
    # list of storing the result
    rest = []
    
    # find all the required numbers
    while (start <= end):
        # if number is not multiple of 5, add to list 
        if (start % 5 != 0):
            rest.append(start)
        start += 7
        
    # return result
    return rest
    
# Utility function to print items of alist in comm seperated sequence in a single line
def print_in_comma_seperated_seq (lst):
    print(",".join([str(x) for x in lst]))

In [2]:
# get the list of all the required number
result = num_div_7_not_div_5(2000,3200)
# print the result in desired format
print_in_comma_seperated_seq(result)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

## Q2. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [3]:
# Utility function to get name from console input
def getName():
    # get first name
    print("Enter first name : ")
    first_name = input();
    # get last name
    print("Enter last name :")
    last_name = input();
    # return the names
    return first_name, last_name

# Reverse the name
'''
def get_reverse_order(first_name, last_name):
    # reverse and return the string
    return last_name[::-1] + " " + first_name[::-1]
'''
# Reverse the name
def get_reverse_order(first_name, last_name):
    # reverse and return the string
    return last_name + " " + first_name

In [4]:
# Get the first and last name
first_name, last_name = getName()
# Reverse the name
rev_odr_name = get_reverse_order(first_name, last_name)
# print the revesed name
print("Reverse Order :",rev_odr_name)

Enter first name :
Akash
Enter last name :
Kumar
Reverse Order : Kumar Akash

## Q3. Write a Python program to find the volume of a sphere with diameter 12 cm
# Formula: V= 4/3 * Ï€ * (r^3)

In [5]:
#import pi from math 
from math import pi as pi

# Method to calculat the volumme of the sphere, takes diameter as input
def volue_of_sphere(diameter):
    # compute and return the volume
    return (4 * pi * pow((diameter/2),3)) / 3

In [6]:
diameter = 12
volume = volue_of_sphere(diameter)
print("Volume for the sphere of Diameter",diameter,"cm is",volume,"cm3")

Volume for the sphere of Diameter 12 cm is 904.7786842338604 cm3